services:
    db:
        container_name: 'postgres-dev'
        image: postgres:17.5-alpine
        restart: always
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: mysecretpassword
            POSTGRES_DB: local
        volumes:
            - pgdata:/var/lib/postgresql/data
volumes:
    pgdata:
