body {
	font-family: sans-serif;
	font-feature-settings: normal;
	font-variation-settings: normal;
	min-height: 100vh !important;
	background-color: #f3f4f6 !important;
	overflow: auto;
	color: #1b254b !important;
}

#sidebar {
	background-color: #ffffff;
	height: 100vh;
	border-radius: 0px 18px 18px 0px;
	position: relative;
	transition: all 0.5s;
	min-width: 82px;
	z-index: 2;
}

a {
	color: #1b254b !important;
}

aside {
	background-color: white;
}

.secondary-gray {
	color: #8f9bba;
}

tr td {
	border-bottom-style: hidden !important;
}

#user {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 24px;
}

#user-avatar {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 20px;
}

#user-info {
	display: flex;
	flex-direction: column;
}

#user-info span:last-child {
	color: #6b6b6b;
	font-size: 12px;
}

#sidebar-list {
	gap: 8px;
	list-style: none;
}

.sidebar-item {
	border-radius: 8px;
	padding: 1rem;
	cursor: pointer;
}

.sidebar-item.active {
	background-color: #017fc0;
}

.sidebar-item:hover:not(.active),
#logout_btn:hover {
	background-color: #e3e9f7;
}

.sidebar-item a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0a0a0a;
}

.sidebar-item.active a {
	color: #e3e9f7 !important;
}

.sidebar-item a i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
}

#logout {
	border-top: 1px solid #e3e9f7;
	padding: 12px;
}

#logout-button {
	border: none;
	padding: 12px;
	font-size: 14px;
	display: flex;
	gap: 20px;
	align-items: center;
	border-radius: 8px;
	text-align: start;
	cursor: pointer;
	background-color: transparent;
}

#sidebar-button {
	position: absolute;
	top: 30px;
	right: -10px;
	background-color: #017fc0;
	color: #e3e9f7;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
}

#sidebar-button-icon {
	transition: transform 0.3s ease;
}

.open-sidebar #sidebar-button-icon {
	transform: rotate(180deg);
}

.item-description {
	width: 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	transition: width 0.6s;
	height: 0px;
}

#sidebar.open-sidebar {
	min-width: 15%;
}

#sidebar.open-sidebar .item-description {
	width: 150px;
	height: auto;
}

#sidebar.open-sidebar .sidebar-item a {
	justify-content: flex-start;
	gap: 1rem;
}

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	body {
		margin: 0 !important;
		padding: 0 !important;
		line-height: 1.4em !important;
	}

	#sidebar,
	#breadcrumb,
	form {
		display: none !important;
	}

	.is-hidden-print {
		display: none !important;
	}

	textarea {
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
	}

	.card {
		--bulma-card-background-color: transparent !important;
		--bulma-card-shadow: none !important;
		--bulma-card-radius: 0 !important;
		--bulma-card-content-background-color: transparent;
		--bulma-card-content-padding: 0 !important;
	}

	.section {
		--bulma-section-padding: 0 !important;
		--bulma-section-padding-desktop: 0 !important;
		--bulma-section-padding-medium: 0 !important;
		--bulma-section-padding-large: 0 !important;
	}

	#printable-content tr:nth-child(even) td {
		background-color: #f3f4f6 !important;
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	.table {
		--bulma-table-cell-padding: 0 !important;
	}

	.table-actions {
		display: none !important;
	}

	hr {
		display: block !important;
		width: 100% !important;
		border-top: solid 1px black !important;
	}

	hr.double {
		border-bottom: solid 1px black !important;
	}
}
